
<% if logged_in? %>
  <%
    last_day = params[:month] ? Date.new(Date.parse(params[:month]).year, Date.parse(params[:month]).month, -1).day : Date.new(Date.today.year, Date.today.month, -1).day
    month = params[:month] ? Date.parse(params[:month]).month : Date.today.month
    year = params[:month] ? Date.parse(params[:month]).year : Date.today.year
    youbi = ['日', '月', '火', '水', '木', '金', '土']
    today = Date.today

    worked_hard = 0

    # 月で最大値の日と時間を取得
    def get_month_time_max(total_day_works)
      worked_hard_day, worked_hard_time = total_day_works.max{ |x, y| x[1] <=> y[1]}
      return worked_hard_day, worked_hard_time
    end

    if !@total_day_works.empty?
      worked_hard_day, worked_hard_time = get_month_time_max(@total_day_works)
      worked_hard = worked_hard_time
    end

    # 分数をテキストに変換
    def get_time_text(minute)
      hour_tx = (minute / 60).to_s
      minute_tx = (minute % 60).to_s
      if hour_tx.length == 1
        hour_tx = "0" + hour_tx
      end
      if minute_tx.length == 1
        minute_tx = "0" + minute_tx
      end
      time_tx = hour_tx + ':' + minute_tx
      return  time_tx
    end

    # 分数を時間分のテキストに変換
    def get_time_ja_text(minute)
      hour_tx = (minute/60).to_s
      minute_tx = (minute%60).to_s
      if minute_tx.length == 1
        minute_tx = "0" + minute_tx
      end
      time_tx = hour_tx + "時間" + minute_tx + "分"
      return time_tx
    end

    # 棒グラフ可変値
    def get_bar_graph_val(time = 0, plans, day_of_week)
      ans = 0
      if time.nil?
        return ans
      end

      if plans[day_of_week]
        ans = 400 * time / plans[day_of_week]
      else
        if time
          ans = 400
        else
          ans = 0
        end
      end

      if ans > 400
        ans = 400
      end

      return ans
    end

    def get_total_time_per(plan, time, day)
      ans = 0
      if time.nil?
        return ans
      end
      if plan.nil?
        return 100
      end

      ans = time.to_f / plan * 100
      return sprintf("%.f", ans)
    end

  %>
  <div class="home">
    <div class="row">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </div>
<!--      <div class="">@month_works <%#= @month_works %></div>-->
    <!--  <div class="">@works_list <%#= @works_list %></div>-->
    <!--  <div class="">@total_month_time <%#= @total_month_time %></div>-->
    <!--  <div class="">@total_day_works <%#= @total_day_works %></div>-->
    <!--  <div class="">@plans<%#= @plans %></div>-->
    <!--  <div class="">@today_works<%#= @today_works %></div>-->

    <h3>総行動時間（月）<span><%= get_time_ja_text(@total_month_time) %></span></h3>
    <h3>今月頑張った日（日にち、時間）
      <% if !@total_day_works.empty? %>
        <% worked_hard_day, worked_hard_time = get_month_time_max(@total_day_works) %>
        <%= worked_hard_day %>日
        <%= get_time_ja_text(worked_hard_time) %>
      <% else %>
        <div class="">今月はまだ何も行っていません。</div>
      <% end %>
    </h3>
    <h3 class="plan-title">1日の予定行動時間</h3>
    <table class="table">
      <thead>
      <tr>
        <% 7.times do |t| %>
          <th scope="col"><%= youbi[t] %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% 7.times do |t| %>
          <% if @plans[t] %>
            <th scope="col"><%= get_time_text(@plans[t]) %></th>
          <% else %>
            <th scope="col">00:00</th>
          <% end %>
        <% end %>
      </tr>
    </table>

    <div class="today-work">
      <h3>今日の行動</h3>
      <% if @total_day_works[today.day] %>
        <div class="today-time">
          <%= get_time_ja_text(@total_day_works[today.day]) %>
        </div>
        <div class="today-per">
          <%= get_total_time_per(@plans[today.wday], @total_day_works[today.day], today.day).to_s + "%" %>
        </div>
      <% else %>
        <div class="today-no">今日のWorkはまだありません</div>
      <% end %>
    </div>

    <button id="work-register" class="button">行動時間を登録する</button>



    <div class="popup">
      <div class="popup-background popup-close"></div>
      <div class="popup-content">
        <h4 class="popup-title">行動時間を登録する</h4>

        <%= form_for(@work, url: works_path) do |f| %>
          <div class="popup-register">
            <div class="popup-date">
              <%= raw sprintf(
                        f.date_select(
                          :work_date,
                          use_month_numbers: true,
                          date_separator: '%s',
                          default: { month: @today.month, day: @today.day }),
                        '年 ', '月 ') + '日' %>
            </div>
            <div class="popup-time">
              <%= f.select(:work_time_hour, [*0..23]) %>時間
              <%= f.select(:work_time_minute, [*0..59]) %>分
            </div>
          </div>

          <div class="popup-btn">
            <%= f.submit "登録", class: "btn-primary popup-submit" %>
            <div class="popup-close">閉じる</div>
          </div>
        <% end %>
      </div>
    </div>




    <li class="month-display">
      <ul><%= link_to "<< " + @month.prev_month.month.to_s + "月",root_url(month:@month.prev_month) %></ul>
      <ul class="middle"><%= @month.month %>月</ul>
      <ul><%= link_to @month.next_month.month.to_s + "月 >>",root_url(month:@month.next_month) %></ul>
    </li>

    <div class="works-content">
      <div class="works">
        <div class="date">日付</div>
        <div class="work-title">習慣達成度（クリックすると詳細が見れます。）</div>
        <div class="work-achievement-title">パーセント</div>
      </div>
      <% last_day.times do |day| %>
        <div class="works" value="<%= day+1 %>">
          <div class="date">
            <%= day+1 %>(<%= youbi[Date.new(year, month, day+1).wday] %>)
          </div>
          <div class="work">
            <% if @total_day_works[day+1] %>
              <%#= get_time_text(@total_day_works[day+1]) %>
            <% end %>
            <div class="work-bar" style="width: <%= get_bar_graph_val(@total_day_works[day+1], @plans, Date.new(year, month, day+1).wday) %>px;">
            </div>
          </div>
          <div class="work-achievement">
            <% if @plans[Date.new(year, month, day+1).wday] %>
              <%= link_to get_total_time_per(@plans[Date.new(year, month, day+1).wday], @total_day_works[day+1], day+1).to_s + "%", plans_path%>
              <%#= get_total_time_per(@plans[Date.new(year, month, day+1).wday], @total_day_works[day+1]) %>
            <% else %>
              <% if @total_day_works[day+1] %>
                <%= link_to "100%", plans_path %>
              <% else %>
                <%= link_to "0%", plans_path %>
              <% end %>
            <% end %>

          </div>

        </div>
        <div class="work-detail-<%= day+1 %> works-detail">
          <div class="details">
            <% if @works_list[day+1] %>
              <% if @plans[Date.new(year, month, day+1).wday] %>
                <h5 class="plan-time">予定時間<span><%= get_time_ja_text(@plans[Date.new(year, month, day+1).wday]) %></span></h5>
              <% else %>
                <h5 class="plan-time">予定時間<span>0時間00分</span></h5>
              <% end %>
              <h5 class="sum-time">合計時間<span><%= get_time_ja_text(@total_day_works[day+1]) %></span></h5>
              <div class="detail-time">
                <h5>詳細時間</h5>
                <ul>
                  <% @works_list[day+1].each_with_index do |work, ind| %>
                    <% work_id = work[0] %>
                    <% time = work[1] %>
                    <li>
                      <span class="index"><%= ind+1 %>.</span>
                      <%= get_time_ja_text(time) %>
                      <button class="button"><%= link_to "削除", work_path(work_id), method: :delete,
                                          data: { confirm: month.to_s + "月" + day.to_s + "日の" + get_time_ja_text(time) + "のデータを本当に削除しますか？" } %></button>
                    </li>

                  <% end %>
                </ul>
              </div>
            <% else %>
              <% if @plans[Date.new(year, month, day+1).wday] %>
                <h5 class="plan-time">予定時間<span><%= get_time_ja_text(@plans[Date.new(year, month, day+1).wday]) %></span></h5>
              <% else %>
                <h5 class="plan-time">予定時間<span>0時間00分</span></h5>
              <% end %>
              <p class="">この日の行動は何もありません。</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


  <% else %>
    <div class="center jumbotron">
      <h1>WORK CHART<span>へようこそ！</span></h1>
      <li class="register-btn">
        <%= link_to "ログイン", login_path %>
        <%= link_to "新規登録", signup_path %>
      </li>
    </div>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
    $('#work-register').on('click', function () {
        $('.popup').fadeIn();
    });

    $('.popup-close').on('click', function () {
        $('.popup').fadeOut();
    });

    $('.works').on('click', function () {
        const val = $(this).attr("value");
        let state = $(".work-detail-" + val).css("display");

        if (state == "none") {
            $(".work-detail-" + val).css("display", "block");
        } else {
            $(".work-detail-" + val).css("display", "none");
        }

    });
</script>
