<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <h4><%= link_to "プロフィールをみる", @user %></h4>
      <h4><b>投稿数:</b> <%= @user.microposts.count %></h4>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <% if @title == "Following" %>
    <% title = "フォロー" %>
  <% else %>
    <% title = "フォロー" %>
  <% end %>
  <h3><%= title + " ( " + @users.count.to_s + " )" %></h3>
  <div class="col-md-8 follow-users">
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
          <li>
            <div>
              <%= link_to user.name, user %>
            </div>
            <% if current_user.admin? && !current_user?(user) %>
              <button class="button"><%= link_to "削除", user, method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %></button>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      まだ<%= title %>がいません。<%= link_to "ユーザーを見つける", users_path %>
    <% end %>
  </div>
</div>
<div class="follow-paginate">
  <%= will_paginate %>
</div>